@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-slate-800/50 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full hover:bg-slate-500 transition-colors;
}
